<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="images/tesla.png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="bootstrap/css/starter-template.css"/>
    <title>Fabricantes</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="miniatura">Coleção</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Cadastros<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="miniatura">Miniatura</a>
                    <a class="dropdown-item" href="marca">Marca</a>
                    <a class="dropdown-item" href="modelo">Modelo</a>
                    <a class="dropdown-item" href="fabricante">Fabricante</a>
                    <a class="dropdown-item" href="pais">País</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Pesquisar"/>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
</nav>

<main role="main" class="inner cover">

    <div class="col-md-6" id="div1">
        <form th:action="@{/fabricante/salvar}" method="post" id="bForm">

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="id">Id</label>
                    <input type="text" class="form-control" id="id" name="id" readonly>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="nome">Fabricante</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" id="descricao" name="descricao" cols='10' rows='5' maxlength="999"></textarea>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Salvar</button>
        </form>
        </br>
    </div>

    <div class="card" id="div2">
        <div class="card-box">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Fabricante</th>
                    <th>Descrição</th>
                    <th></th>
                    <th><button class="btn btn-success nBtn btn-block">Novo</button></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fabricantes : ${fabricante}">
                    <td><span th:text="${fabricantes.id}"></span></td>
                    <td><span th:text="${fabricantes.nome}"></span></td>
                    <td><span th:text="${fabricantes.descricao}"></span></td>
                    <td class="gg"><a th:href="@{fabricante/findOne/(id=${fabricantes.id})}" class="btn btn-primary btn-block eBtn">Edit</a>
                    </td>
                    <td class="gg"><a th:href="@{fabricante/delete/(id=${fabricantes.id})}" class="btn btn-danger btn-block delBtn">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr/>
            <ul class="nav nav-pills">
                <li class="nav-item" th:each="i : ${#numbers.sequence(0,fabricante.totalPages-1)}">
                    <a th:href="@{fabricante(page=${i})}" th:text="${i}" class="nav-link"
                       th:classappend="${currentPage}==${i}?'active':''"> </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="divM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Deseja realmente deletar o registro?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <a href="" class="btn btn-danger" id="delRef">Sim</a>
                </div>
            </div>
        </div>
    </div>

</main>

<!--jQuery first, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{js/fabricante.js}" src="../static/js/fabricante.js"></script>
</body>
</html>