<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="bootstrap/css/starter-template.css"/>

    <meta name="theme-color" content="#563d7c"/>

    <title>Coleção</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="garagem">Coleção <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Pesquisar"/>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
</nav>

<main role="main" class="inner cover">

    <div class="card" id="div1">
        <div class="card-box">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="miniatura : ${data}">
                    <td><span th:text="${miniatura.id}"></span></td>
                    <td><span th:text="${miniatura.marca}"></span></td>
                    <td><span th:text="${miniatura.modelo}"></span></td>
                    <td class="gg"><a th:href="@{findOne/(id=${miniatura.id})}" class="btn btn-primary btn-block eBtn">Edit</a>
                    </td>
                    <td class="gg"><a th:href="@{delete/(id=${miniatura.id})}" class="btn btn-danger btn-block delBtn">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr/>
            <ul class="nav nav-pills">
                <li class="nav-item" th:each="i : ${#numbers.sequence(0,data.totalPages-1)}">
                    <a th:href="@{garagem(page=${i})}" th:text="${i}" class="nav-link"
                       th:classappend="${currentPage}==${i}?'active':''"> </a>
                </li>
            </ul>
        </div>
    </div>

    <br/>
    <br/>
    <div align="center" id="div2">
        <button class="btn btn-success nBtn">Novo Cadastro</button>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Deseja realmente deletar o registro?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <a href="" class="btn btn-danger" id="delRef">Sim</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 order-md-1" id="div3" style="display: none;">
        <h4 class="mb-3">Cadastro</h4>
        <form id="bForm" th:action="@{/save}" method="post">

            <div class="form-group">
                <label for="id" class="form-control-label">ID:</label>
                <input type="text" class="form-control" id="id" name="id" value="" readonly/>
            </div>
            <div class="form-group">
                <label for="marca" class="form-control-label">Marca:</label>
                <input type="text" class="form-control" id="marca" name="marca" value=""/>
            </div>
            <div class="form-group">
                <label for="modelo" class="form-control-label">Modelo:</label>
                <input type="text" class="form-control" id="modelo" name="modelo" value=""/>
            </div>

            <br/>
            <hr class="row">
            <div class="btn-group mr-2">
                <a class="btn btn-secondary btn-lg btn-block" href="/garagem" role="button">Close</a>
            </div>
            <div class="btn-group mr-2">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save"/>
            </div>
        </form>
    </div>

</main>

<!--jQuery first, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>
</body>
</html>