<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <link rel="icon" href="images/tesla.png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="bootstrap/css/starter-template.css">

    <meta name="theme-color" content="#563d7c">

    <title>Home</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <!--
            <a class="navbar-brand" href="/">GARAGEM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            -->
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="miniatura">Coleção</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                    -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="miniatura">Miniatura</a>
                            <a class="dropdown-item" href="marca">Marca</a>
                            <a class="dropdown-item" href="modelo">Modelo</a>
                            <a class="dropdown-item" href="fabricante">Fabricante</a>
                            <a class="dropdown-item" href="pais">País</a>
                        </div>
                    </li>
                </ul>
                <!--
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
                -->
            </div>
        </nav>

        <main role="main" class="container">

            <div class="starter-template">
                <h1>There’s No Replacement for Displacement.</h1>
                <p class="lead">
                    O ano 2008 a lembrança é um Camaro Concept Vermelho.
                    <br>
                    Mas a paixão é antiga data do berço.
                </p>
            </div>
        </main><!-- /.container -->

        <!--jQuery first, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
